<a href="https://colab.research.google.com/github/harish876/nba-mvp-predictor/blob/main/NBA_MVP_ML_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pms=pd.read_csv("/content/drive/MyDrive/nba_mvp_data/player_mvp_data.csv")

In [ ]:
del pms["Unnamed: 0"]

In [ ]:
pms.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73

In [ ]:
pms.isnull().sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [ ]:
pms[pms.isnull()["3P%"]][["Player","3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14061    Evan Eschmeyer  0.0
14062  Gheorghe Mureșan  0.0
14064     Jim McIlvaine  0.0
14070  Mark Hendrickson  0.0
14071      Michael Cage  0.0

[2042 rows x 2 columns]

In [ ]:
pms=pms.fillna(0)

In [ ]:
pms.isnull().sum()

In [ ]:
pms.columns

In [ ]:
predictors=['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
        'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [ ]:
train=pms[pms["Year"]<2021]
test=pms[pms["Year"]==2021]

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
reg=Ridge(alpha=.1)

In [ ]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.1)

In [ ]:
predictions=reg.predict(test[predictors])

In [ ]:
predictions=pd.DataFrame(predictions,columns=["predictions"],index=test.index)

In [ ]:
combination=pd.concat([test[["Player","Share"]],predictions],axis=1)

In [ ]:
combination=combination.sort_values("Share",ascending=False)
combination["Rk"]=list(range(1,combination.shape[0]+1))

In [ ]:
combination

                      Player  Share  predictions   Rk
641             Nikola Jokić  0.961     0.154306    1
8624             Joel Embiid  0.580     0.162713    2
3651           Stephen Curry  0.449     0.142386    3
9907   Giannis Antetokounmpo  0.345     0.207436    4
1389              Chris Paul  0.138     0.072293    5
...                      ...    ...          ...  ...
4171           Chris Chiozza  0.000     0.007047  536
4170             Bruce Brown  0.000     0.003655  537
4169           Blake Griffin  0.000     0.011745  538
4168          Andre Roberson  0.000    -0.026907  539
13901             Trey Lyles  0.000    -0.005421  540

[540 rows x 4 columns]

In [ ]:
combination=combination.sort_values("predictions",ascending=False)
combination["predicted_Rk"]=list(range(1,combination.shape[0]+1))

In [ ]:
combination

                      Player  Share  predictions   Rk  predicted_Rk
9907   Giannis Antetokounmpo  0.345     0.207436    4             1
8624             Joel Embiid  0.580     0.162713    2             2
641             Nikola Jokić  0.961     0.154306    1             3
10997            Luka Dončić  0.042     0.151430    6             4
3736            LeBron James  0.001     0.147512   15             5
...                      ...    ...          ...  ...           ...
9437           Patrick McCaw  0.000    -0.050344  113           536
13476          Killian Hayes  0.000    -0.051316  200           537
9915             P.J. Tucker  0.000    -0.054995   33           538
3862        Anžejs Pasečņiks  0.000    -0.062399  489           539
11768           Didi Louzada  0.000    -0.069542  267           540

[540 rows x 5 columns]

In [ ]:
actual=combination.sort_values("Share",ascending=False).head(5)
actual

                     Player  Share  predictions  Rk  predicted_Rk
641            Nikola Jokić  0.961     0.154306   1             3
8624            Joel Embiid  0.580     0.162713   2             2
3651          Stephen Curry  0.449     0.142386   3             6
9907  Giannis Antetokounmpo  0.345     0.207436   4             1
1389             Chris Paul  0.138     0.072293   5            33

In [ ]:
predicted=combination.sort_values("predictions",ascending=False)
predicted.head(35)

                        Player  Share  predictions   Rk  predicted_Rk
9907     Giannis Antetokounmpo  0.345     0.207436    4             1
8624               Joel Embiid  0.580     0.162713    2             2
641               Nikola Jokić  0.961     0.154306    1             3
10997              Luka Dončić  0.042     0.151430    6             4
3736              LeBron James  0.001     0.147512   15             5
3651             Stephen Curry  0.449     0.142386    3             6
4177              Kevin Durant  0.000     0.141350  531             7
4174              James Harden  0.001     0.140598   13             8
11784          Zion Williamson  0.000     0.127926  251             9
3876         Russell Westbrook  0.005     0.120227   11            10
6093              Jimmy Butler  0.000     0.117102  442            11
7464            Damian Lillard  0.038     0.116303    7            12
5328             Kawhi Leonard  0.001     0.113350   14            13
3863              Bradley Beal  0.000     0.102511  488            14
4178              Kyrie Irving  0.000     0.100830  530            15
12493             De'Aaron Fox  0.000     0.100763  246            16
11308               Trae Young  0.000     0.099912  235            17
3728             Anthony Davis  0.000     0.097155  504            18
11358              Rudy Gobert  0.008     0.095350   10            19
2592   Shai Gilgeous-Alexander  0.000     0.093001  310            20
7927        Karl-Anthony Towns  0.000     0.092631  103            21
1695               Zach LaVine  0.000     0.091136  292            22
845           Domantas Sabonis  0.000     0.089141  354            23
3536             Julius Randle  0.020     0.088877    8            24
1096              Jayson Tatum  0.000     0.088118  400            25
1689            Nikola Vučević  0.000     0.085420  298            26
8189            Christian Wood  0.000     0.082464   93            27
13886            DeMar DeRozan  0.000     0.081816  177            28
6088               Bam Adebayo  0.000     0.080194  414            29
11346         Donovan Mitchell  0.000     0.078729  232            30
5335               Paul George  0.000     0.075479  475            31
1392              Devin Booker  0.000     0.075235  384            32
1389                Chris Paul  0.138     0.072293    5            33
1095              Jaylen Brown  0.000     0.067244  401            34
11296             Clint Capela  0.000     0.065799   45            35

In [ ]:
#do not understand error metric
def actual_ap(combination):
  actual=combination.sort_values("Share",ascending=False).head(5)
  predicted=combination.sort_values("predictions",ascending=False)
  ps=[]
  found=0
  seen=1
  for index,row in predicted.iterrows():
    if row["Player"] in actual["Player"].values:
      found+=1
      ps.append(found/seen)
    seen+=1
  return sum(ps)/len(ps)

In [ ]:
actual_ap(combination)

0.7636363636363636

In [ ]:
years=list(range(1991,2022))

In [ ]:
#finding the ap for the all years
aps=[]
all_predictions=[]
for year in years[5:]:
  train=pms[pms["Year"]<year]
  test=pms[pms["Year"]==year]
  reg.fit(train[predictors],train["Share"])
  predictions=reg.predict(test[predictors])
  predictions=pd.DataFrame(predictions,columns=["predictions"],index=test.index)
  combination=pd.concat([test[["Player","Share"]],predictions],axis=1)
  all_predictions.append(combination)
  aps.append(actual_ap(combination))

In [ ]:
sum(aps)/len(aps)

0.7112884360789578

In [ ]:
def add_rank(combination):
  combination=combination.sort_values("Share",ascending=False)
  combination["Rk"]=list(range(1,combination.shape[0]+1))
  combination=combination.sort_values("predictions",ascending=False)
  combination["predicted_Rk"]=list(range(1,combination.shape[0]+1))
  combination["Difference"]=combination["Rk"]-combination["predicted_Rk"]
  return combination

In [ ]:
ranking=add_rank(all_predictions[1])
ranking[ranking["Rk"]<6].sort_values("Difference",ascending=False)

               Player  Share  predictions  Rk  predicted_Rk  Difference
1600      Karl Malone  0.857     0.192318   1             2          -1
10524  Michael Jordan  0.832     0.167629   2             3          -1
908        Grant Hill  0.327     0.128646   3             6          -3
4682     Tim Hardaway  0.207     0.059984   4            20         -16
8248        Glen Rice  0.117     0.033110   5            53         -48

In [ ]:
years=list(range(1991,2022))
def backtest(pms,model,years,predictors):
  aps=[]
  all_predictions=[]
  for year in years:
    train=pms[pms["Year"]<year]
    test=pms[pms["Year"]==year]
    model.fit(train[predictors],train["Share"])
    predictions=model.predict(test[predictors])
    predictions=pd.DataFrame(predictions,columns=["predictions"],index=test.index)
    combination=pd.concat([test[["Player","Share"]],predictions],axis=1)
    combination=add_rank(combination)
    all_predictions.append(combination)
    aps.append(actual_ap(combination))
  return sum(aps)/len(aps),aps,pd.concat(all_predictions)

In [ ]:
mean_ap,aps,all_predictions_list=backtest(pms,reg,years[5:],predictors)

In [ ]:
mean_ap

0.7112884360789578

In [ ]:
aps

[0.47000000000000003,
 0.3922012578616352,
 0.8102564102564103,
 0.3871428571428571,
 0.8392857142857142,
 0.9266666666666665,
 0.6835164835164835,
 0.9666666666666666,
 0.6906015037593984,
 0.5644444444444445,
 0.4071008403361344,
 0.6476190476190476,
 0.7683333333333333,
 0.9428571428571428,
 0.8142857142857143,
 0.7392857142857142,
 0.40535714285714286,
 0.6976190476190476,
 0.6341698841698842,
 0.9266666666666665,
 0.8333333333333333,
 0.8111111111111111,
 0.7909090909090909,
 0.6375757575757576,
 0.9428571428571428,
 0.7636363636363636]